.album-item {
	width: 150px;
	height: 150px;
	background: url(../HinhNen.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.album-item .overlay {
	color: #fff;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;

	transition: opacity 0.5s;
}

.album-item:hover .overlay {
	opacity: 1;
}

.album-item .overlay i {
	transform: scale(0.5);
	transition: transform 0.5s;
}

.album-item:hover .overlay i {
	transform: scale(1);
}



