.header {
	height: 100px;
}

.container {
	width: 50%;
}

.sidebar {
	float: left;
	width: 20%;
}

.article {

}

.container::after {
	content: '';
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}