
.nav-bar {
	display: flex;
	background-color: #EEE;

	padding: 0;
	margin: 0;
}

.nav-bar > li {
	/* If u want to align justify 
	flex: 1;*/
	padding: 10px 0;
	
	list-style-type: none;
	border-right: 1px solid black;
}

.nav-bar li a {
	padding: 10px 20px;
	color: #000;
	
	text-decoration: none;
	text-align: center;
	/* For each <a> is on full width in each <li>  */
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;*/
}

.nav-bar a:hover {
	background-color: green;
}


/********************************/
.nav-bar .dropdown {
	position: relative;
}


.nav-bar .dropdown .submenu {
	list-style-type: none;
	padding: 0;

	position: absolute;
	left: 0;
	top: 100%;

	display: none;
	z-index: 1;
}

.nav-bar > .dropdown > .submenu > li {
	/*add padding between all sub-li*/
	padding: 10px 0;
}

.nav-bar .dropdown:hover .submenu {
	display: block;
}


