.flex-container {
	display: flex;
	flex-flow: row wrap;
	background-color: lightblue;
	height: 200px;
	
}

.flex-container > .item {
	background-color: tomato;
	text-align: center;
	margin: 10px;
	flex: auto;
}

.item:nth-child(1) {
	align-self: stretch;
}

.item:nth-child(2) {
	align-self: flex-start;
}

.item:nth-child(3) {
	align-self: flex-end;
}

.item:nth-child(4) {
	align-self: center;
}

.item:nth-child(5) {
	align-self: baseline;
}
