.flex-container {
	display: flex;
	flex-flow: row wrap;
	background-color: lightblue;
	height: 100px;
	
}

/********************************/
.auto > div {
	background-color: tomato;
	text-align: center;
	margin: 10px;
	flex: auto;
}


/*********************************/
