.flex-container {
	display: flex;
	flex-flow: row wrap;
	background-color: lightblue;
	height: 100px;
}

.flex-container > div {
	background-color: tomato;
	text-align: center;
	margin: 10px;
}

.item-auto {
	flex-basis: auto;
}

.item-200px {
	flex-basis: 200px;
}