.content-box {
	width: 100px;
	height: 100px;
	padding: 20px;
	border: 10px solid pink;
	background: #f2f2f2;
}

.border-box {
	width: 100px;
	height: 100px;
	padding: 20px;
	background: #f2f2f2;
	border: 10px solid pink;
	box-sizing: border-box;
}