.album-cover {
	font-family: Arial, sans-serif;

	width: 150px;
	height: 150px;

	background: url('https://loremflickr.com/320/240') no-repeat;
	background-size: cover;
	background-position: center;
}

.album-cover .overlay {
	color: #fff;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);

	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.album-cover:hover .overlay {
	opacity: 1;
}


