.row {
	display: flex;
}

.row div{
	background: blue;
	border: 1px solid black;
}

@media (orientation: portrait) {
	.row {
		flex-direction: column;
	}
}

@media (orientation: landscape) {
	.row {
		flex-direction: row;
	}
}