div[class*="item-"] {
	background-color: tomato;
}

.container {
	border: 1px solid black;
	width: 100%;
	height: 300px;

	display: grid;
	grid-template-columns: [first] 50px [line2] 50px [line3] auto [five] 50px [end] ;
	grid-template-rows: [row-start] 50px [row-end] 100px [third-line] 100px [last-line];
	grid-gap: 10px;
}

.item-d {
	grid-area: row-start / line2 / last-line / 3 ;
}