div[class*="item-"] {
	background-color: tomato;
}

.container {
	border: 1px solid black;
	height: 300px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px 150px;
	grid-gap: 10px;

}

.item-a {
	place-self: center;
}

.item-b {
	place-self: start center;
}
